.container {
    max-width: 1080px;
    margin: 0 auto;
    height: 100%;
    width: 49%;
    background: #f3f3f3;
    margin: 0 auto 2em auto;
    overflow: auto;
    padding: 1em;
    border-radius: 3px;
    display: inline-block;
    vertical-align: top;
  }

h1{ 
    color: #3a3a3a;
    text-align: center;
    margin: 1em 0;

}
