.navbar {
  width: 650px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: azure;
}

.navbar button {
  border-radius: 5px;
  height: 40px;
  width: 100px;
  padding: 5px 10px;
  background-color: white;
  border: none;
  border: 1px solid black;
}

.container {
  display: flex;
  flex-direction: row;
  width: 650px;
  flex-wrap: wrap;
  background-color: azure;
}

.sub-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 390px;
  width: 290px;
  border: 1px solid black;
  margin: 10px;
  background-color: white;
}

form {
  display: flex;
  flex-direction: column;
  width: 650px;
  background-color: azure;
}

form label,
input {
  width: 300px;
  align-self: center;
}

form button {
  background-color: white;
  border: none;
  border: 1px solid black;
  border-radius: 5px;
  margin: 10px;
  padding: 10px 20px;
  width: 300px;
  align-self: center;
}

.product-page {
  background-color: azure;
  width: 650px;
}

.product-page img {
  border: 1px solid black;
}

.sub-product {
  width: 225px;
  margin: 0 212px;
}

.product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.product-btn {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.product-btn button {
  background-color: white;
  border: none;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 10px;
}
